.header-container {
    min-height: 90px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(5, 40, 73);
    margin-bottom: 70px;
}

img {
    height: 40px;
    width: 150px;
}